---
title: Sobre
permalink: /about
---

<section>
  <p>Olá, sou o Bruno Gasparetto.</p>
  <p>Sou bacharel em Ciências da Computação e tenho especialização em Engenharia de Software.</p>
  <p>Atualmente atuo como Analista de Sistemas, mas continuo amando desenvolvimento e por isso estou sempre me atualizando para aplicar novos conceitos nos meus projetos pessoais.</p>
</section>

<!-- Fill in the information in _data/skills.yml -->

<section>
  <h2 class="mb-5">Linguagens e Frameworks</h2>
  <div class="skills">
    {% for skill in site.data.skills.languages %}
    <div class="skills-items">
      <img src="https://img.shields.io/badge/{{skill.name}}-{{skill.color}}?style=flat&logo={{skill.brand}}&logoColor=white" alt="{{skill.name}}" title="{{skill.name}}">
    </div>
    {% endfor %}
  </div>
</section>

<section>
  <h2 class="mb-5">Banco de Dados</h2>
  <div class="skills">
    {% for skill in site.data.skills.databases %}
    <div class="skills-items">
      <img src="https://img.shields.io/badge/{{skill.name}}-{{skill.color}}?style=flat&logo={{skill.brand}}&logoColor=white" alt="{{skill.name}}" title="{{skill.name}}">
    </div>
    {% endfor %}
  </div>
</section>

<section>
  <h2 class="mb-5">Sistemas e Ferramentas</h2>
  <div class="skills">
    {% for skill in site.data.skills.applications %}
    <div class="skills-items">
      <img src="https://img.shields.io/badge/{{skill.name}}-{{skill.color}}?style=flat&logo={{skill.brand}}&logoColor=white" alt="{{skill.name}}" title="{{skill.name}}">
    </div>
    {% endfor %}
  </div>
</section>

<section>
  <h2 class="mb-5">Contato e Redes Sociais</h2>
  <div class="contacts-social-icons">
    {% include social-icons.html %}
  </div>
</section>
